
        body {
            background-color: lightgray;
            padding: 50px;
            margin: 5%;
        }

        #body {
            background-color: white;
            border: 1px solid gray;
            padding: 30px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        }   
        #header {
            padding: 20px;
        }
        hr {
            border: 1px solid black;
        }

        #logoicon {
            height: 40px;
            cursor: pointer;
        }

        #d {
            text-align: end;
            padding-right: 40px;

        }

        #date {
            font-weight: 700;
            font-size: 28px;
            border: 0px;
            width: 160px;
            background-color: rgba(0,0,0,0.0);
            color: black;
        }
        #gfont{
            font-weight: 700;
            font-size: 28px;
            border: 0px;
            background-color: rgba(0,0,0,0.0);
            /* width: 160px; */
            color: black;
        }
        #date-font {
            font-weight: 700;
            font-size: 28px;
        }

        h1 {
            text-transform: uppercase;
            text-align: center;
            font-weight: 1000;
            font-size: 60px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        #bill {
            font-size: 30px;
            font-weight: 700;
            margin-left: 30px;
        }

        #address {
            background-color: lightgray;
            margin-bottom: 15px;
            font-size: 28px;
            margin-left: 20px;
            border-radius: 15px;
            width: 90%;
            padding: 5px;
        }

        #font {
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }

        #item {
            text-align: center;
        }

        #item input {
            background-color: lightgray;
            margin-bottom: 15px;
            font-size: 28px;
            margin-left: 20px;
            border-radius: 10px;
            width: 90%;
            padding: 5px;
        }

        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0px;
        }

        #price {
            text-align: end;
        }

        #ru {
            font-size: 40px;
            position: absolute;
            top: 45%;
            left: 55px;
            transform: translateY(-50%);
        }

        #item button {
            background-color: lightgray;
            border-radius: 15px;
            margin-left: 20px;
        }

        #dustbin {
            font-size: 35px;
            padding: 5px;
            background-color: lightgray;
            color: red;
        }

        #next button {
            text-transform: capitalize;
            font-size: 25px;
            margin-left: 45%;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            padding: 10px;
        }

        #calcu button {
            text-transform: capitalize;
            font-size: 30px;
            margin-left: 45%;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            padding: 10px;
        }

        #it {
            margin-top: 20px;
            margin-bottom: 10px;
            text-align: center;
        }

        #it input {
            background-color: lightgray;
            margin-bottom: 15px;
            font-size: 28px;
            margin-left: 20px;
            border-radius: 10px;
            padding: 5px;
        }

        #it-d {
            margin-top: 20px;
            margin-bottom: 10px;
            text-align: center;
            margin-left: -20px;
        }

        #it-d input {
            background-color: lightgray;
            margin-bottom: 15px;
            font-size: 28px;
            margin-left: 20px;
            border-radius: 10px;
            padding: 5px;
        }

        #per {
            font-size: 28px;
        }

        #rupee {
            font-size: 30px;
            padding: 9px;
        }

        #rupee-acc {
            text-align: end;
        }

        textarea {
            height: 80px;
            width: 100%;
            font-size: 20px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid lightgray;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        #print {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }

        #print button {
            font-size: 25px;
            padding: 20px;
            border-radius: 10px;
        }

        @media print {
            button {
                display: none !important;
            }

            input {
                border: 0px;
            }

            hr {
                display: none !important;
            }

            #hide {
                font-size: 0px;
            }

            body {
                padding: 0px;
            }

            #it {
                margin-top: 20px;
                margin-bottom: 10px;
                margin-left: 0px;
                /* text-align: center; */
            }

            #it input {
                background-color: lightgray;
                right: 10px;
                font-size: 28px;
                /* margin-left: 20px; */
                /* border-radius: 10px; */
                /* padding: 5px; */
            }

            #it-d {
                margin-top: 20px;
                margin-bottom: 10px;
                /* text-align: center; */
                /* margin-left: -20px; */
            }

            #it-d input {
                background-color: lightgray;
                margin-bottom: 15px;
                font-size: 28px;
                /* margin-left: 20px; */
                /* border-radius: 10px; */
                /* padding: 5px; */
            }
            #di{
                position: relative;
            }
        }