body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10%;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, select, button {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #payment-message {
    margin-top: 10px;
    font-weight: bold;
  }
  