
        p {
            text-align: justify;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
        }

        h1 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }