
        body {
            background-color: lightgray !important;
        }

        #logoicon {
            height: 45px;
            cursor: pointer;
        }

        .h1 {
            text-align: center;
            font-weight: bolder !important;
            padding-top: 10px;
            padding-bottom: 30px;
            font-size: 60px;
        }

        label {
            font-size: 30px;
            text-transform: capitalize;
            font-family: 'Times New Roman', Times, serif;
        }

        #col {
            border: 1px solid black;
            padding: 5px;
            padding-left: 30px;
        }

        #input {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        select {
            text-transform: capitalize;
            font-size: 25px;
        }

        #views-div{
            display: flex;
            justify-content: center;
            margin-top: 25px;
            margin-bottom: 10px;
        }


        #search{
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 700;
            border-radius: 15px;
            padding: 12px;
        }

        #cus{
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        #first {
            margin-right: 20px;
            margin-bottom: 20px;
            font-size: 22px;
        }

        #second {
            margin-right: 20px;
            margin-bottom: 20px;
            font-size: 22px;
        }

        #total {
            display: flex;
            justify-content: center;
        }

        #no {
            display: flex;
            justify-content: center;
        }

        #Transactions {
            background-color: rgb(187, 182, 182);
            padding: 20px;
            margin: 20px;
            border: 10px solid silver;
        }

        #fa {
            font-size: 28px;
            margin-right: 10px;
            margin-top: 2px;
        }
